.detailPage {
  width: 70%;
  margin: 50px auto;
  .cardDetail {
    width: 100%;
    height: auto;
    align-items: center;
    display: grid;
    gap: 50px;
    font-family: sans-serif;
    grid-template-columns: auto auto;
    margin-top: 10%;
    .info {
      margin-bottom: 40px;
      line-height: 30px;
      p {
        span {
          font-weight: bold;
        }
      }
      .addBtn {
        margin-top: 20px;
        cursor: pointer;
        background-color: #717fe0;
        padding: 9px 14px;
        color: white;
        border: none;
        font-size: 16px;
        transition: all 500ms;
        &:hover {
          background-color: rgb(86, 96, 162);
        }
      }
    }
    .img {
      img {
        width: 520px;
        height: auto;
        transition: all 700ms;
        cursor: pointer;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}
